#texto-fonte-root {
  font-size: 3rem;
}

#texto-paddings-verticais {
  padding: 2em 0;
}

#altura-porcentagem-comprimento {
  height: 20vw;
  background-color: aqua;
}

#comprimento-metade-altura {
  width: 50vh;
  background-color: aquamarine;
}

.container {
  border: 1px solid black;
  /* width: 400px; */
  font-size: 20px;
}

#fonte-setenta {
  font-size: 70%;
}

#comprimento-pai {
  background-color: orange;
  width: 10%;
}

#altura-pai {
  background-color: rgb(224, 166, 166);
  height: 10%;
}
