body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: white;
}
#main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh 2fr 1fr 8vh;
}
#top-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
#middle-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
#vertical-middle-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.green-background {
  background-color: green;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.yellow-background {
  background-color: yellow;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.pink-background {
  background-color: fuchsia;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.blue-background {
  background-color: blue;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.red-background {
  background-color: red;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.lightgreen-background {
  background-color: lightgreen;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.purple-background {
  background-color: purple;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
