* {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid black;
  text-align: center;
}

main {
  width: 800px;
  margin: 0 auto;
}

aside {
  width: 180px;
  border: 1px solid black;
  position: absolute;
  right: 0;
  bottom: 3%;
  text-align: center;
}
aside:active {
  color: white;
  background-color: black;
}
button:active {
  color: black;
  background-color: white;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
}
