body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#top-container {
  display: flex;
  height: 6vh;
}

#middle-container {
  display: flex;
  flex-grow: 1;
}
#content2 {
  flex-grow: 3;
}
#blank {
  flex-grow: 2;
}
#vertical-middle-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#image {
  height: 50%;
}
#extra {
  flex-grow: 1;
}
.green-background {
  background-color: green;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.yellow-background {
  background-color: yellow;
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.pink-background {
  background-color: fuchsia;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  flex-grow: 2;
}

.blue-background {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1rem;
}

.red-background {
  background-color: red;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.lightgreen-background {
  background-color: lightgreen;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.purple-background {
  background-color: purple;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
